.input-writing {
    margin: 2px;
    padding: 10px;
}

.base-writing {
    padding: 10px;
}

.input-writing textarea {
    border: 2px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    resize: vertical;
    /* Allow resizing vertically */
}

.input-writing textarea:focus {
    border-color: #007bff;
    outline: none;
}

.input-writing textarea::placeholder {
    color: #ccc;
}
.base-writing textarea{
    border-radius: 10px;
}
body{
    background-color: #2a3f44;
}